* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f1f1f145 !important;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.maroon {
   color: #A1263E;
   font-weight:700 !important
}


.form-login-body {
    width: 100%;
    height: calc(100vh);
    background: rgb(94,1,169);
    background: linear-gradient(18deg, rgba(94,1,169,1) 0%, rgba(124,74,200,1) 51%, rgba(107,142,215,1) 100%);
    background-repeat: no-repeat;
}

    .form-login-body .login-desk {
        filter: drop-shadow(0 0 13.5px rgba(0, 0, 0, 0.09));
        /*margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 18% !important;*/
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.mud-input.mud-input-outlined .mud-input-outlined-border {
    border-color: #7a52c9;
    border-width: 0px !important;
    border-style: solid;
    transition: border-width,border-color 200ms cubic-bezier(.4,0,.2,1) 0ms;
}

.form-login-body .login-desk .detail-box {
    background-color: #FFF;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

    .form-login-body .login-desk .detail-box .logo {
        width: 130px;
    }

    .form-login-body .login-desk .detail-box .help {
        width: 450px;
        /*margin-top: 30px;
    margin-bottom: 50px;*/
    }

    .form-login-body .login-desk .detail-box .detailsh {
        text-align: center;
    }

        .form-login-body .login-desk .detail-box .detailsh h3 {
            font-size: 1.2rem;
            margin-bottom: 15px;
        }

        .form-login-body .login-desk .detail-box .detailsh p {
            font-size: .8rem;
        }

.form-login-body .login-desk .loginform {
    background-color: #FFF;
    text-align: center;
    color: #4C56C0;
    padding: 50px 50px 10px 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

    .form-login-body .login-desk .loginform a {
        color: #4C56C0;
    }

    .form-login-body .login-desk .loginform h4 {
        color: #4C56C0;
        font-size: 1.3rem;
    }

    .form-login-body .login-desk .loginform p {
        font-size: .8rem;
        margin-bottom: 10px;
    }

.text-white {
    color: white !important;
}

.login-det {
    background: rgb(94,1,169);
    background: linear-gradient(18deg, rgba(94,1,169,1) 0%, rgba(124,74,200,1) 51%, rgba(107,142,215,1) 100%);
    border-radius: 20px;
    padding: 25px;
}

.login-det1 {
    background: rgb(94,1,169);
    background: linear-gradient(18deg, rgba(94,1,169,1) 0%, rgba(124,74,200,1) 51%, rgba(107,142,215,1) 100%);
    border-radius: 20px;
    padding: 10px 25px;
}

@media screen and (max-width: 991px) {
    .form-login-body {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 480px) {
    .form-login-body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-login-body .login-desk .loginform {
        background-color: #FFF;
        text-align: center;
        color: #4C56C0;
        padding: 50px 50px 10px 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .padleftright {
        padding-left: 20px;
        padding-right: 20px;
    }
    .borreadiuse {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

ul > li {
    display: inline-block;
}


.form-login-body .login-desk .detail-box {
    background-color: #FFF;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

    .form-login-body .login-desk .detail-box .logo {
        width: 130px;
    }

    .form-login-body .login-desk .detail-box .help {
        width: 450px;
        /*    margin-top: 30px;
    margin-bottom: 50px;*/
    }

    .form-login-body .login-desk .detail-box .detailsh {
        text-align: center;
    }

        .form-login-body .login-desk .detail-box .detailsh h3 {
            font-size: 1.2rem;
            margin-bottom: 15px;
        }

        .form-login-body .login-desk .detail-box .detailsh p {
            font-size: .8rem;
        }

.form-login-body .login-desk .loginform {
    background-color: #FFF;
    text-align: center;
    color: #4C56C0;
    padding: 50px 50px 10px 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

    .form-login-body .login-desk .loginform a {
        color: #4C56C0;
    }

    .form-login-body .login-desk .loginform h4 {
        color: #4C56C0;
        font-size: 1.3rem;
    }

    .form-login-body .login-desk .loginform p {
        font-size: .8rem;
        margin-bottom: 10px;
    }

.form-login-body .login-desk .detail-box .detailsh h3 {
    font-size: 1.2rem;
    margin-bottom: 4px;
    margin-top: 11px !important;
}

.mud-input {
    background: #FFF !important;
    border-radius: 20px !important;
}

.mud-icon-size-medium {
    font-size: 1.5rem;
    color: #FFF !important;
}

.mud-icon-root.mud-svg-icon {
    fill: currentColor;
    color: #FFF !important;
}

placeholder {
    background: transparent !important;
    background-color: transparent !important;
}

.form-login-body .login-desk .loginform .login-det .form-row {
    margin-top: 20px;
}

    .form-login-body .login-desk .loginform .login-det .form-row label {
        font-size: .85rem;
    }

.form-login-body .login-desk .loginform .login-det .input-group .input-group-prepend .input-group-text {
    background-color: #3d46a7;
    color: #ffffffcf;
    border-right: 0px;
    border: 0px;
}

.form-login-body .login-desk .loginform .login-det .input-group .form-control {
    background-color: #3d46a7;
    color: #4C56C0;
    border-left: 0px;
    border: 0px;
}

    .form-login-body .login-desk .loginform .login-det .input-group .form-control:focus {
        border: 0px;
    }

.form-login-body .login-desk .loginform .login-det .btn-danger {
    width: 100%;
    border-radius: 0px;
    background-color: #fa607e;
    border-radius: 50px;
}

.forget {
    color: #FF9800 !important;
    text-align: right;
}

.forgetq {
    color: #FF9800 !important;
}

.form-login-body .login-desk .loginform .forget {
    text-align: right;
}

.form-login-body .login-desk .loginform .social-link ul {
    float: right;
    margin-top: 30px;
}

    .form-login-body .login-desk .loginform .social-link ul li {
        float: left;
        padding: 15px;
        font-size: .9rem;
    }

::-webkit-input-placeholder {
    color: #FFF !important;
}

::-moz-placeholder {
    color: #FFF !important;
}

:-ms-input-placeholder {
    color: #FFF !important;
}

:-moz-placeholder {
    color: #FFF !important;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-login-body .login-desk .loginform .login-det .input-group .input-group-prepend .input-group-text {
    background-color: #3d46a7;
    color: #ffffffcf;
    border-right: 0px;
    border: 0px;
}

.form-login-body .login-desk .loginform .login-det .input-group .input-group-prepend .input-group-text {
    background-color: #3d46a7;
    color: #ffffffcf;
    border-right: 0px;
    border: 0px;
}

::placeholder {
    color: transparent !important;
    font-size: 13px;
    opacity: .5 !important;
}

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}


/*img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: #444;
}

    a:hover {
        color: #444;
    }

ul {
    margin-bottom: 0;
    padding-left: 0;
}


.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.cp {
    cursor: pointer;
}


p {
    margin-bottom: 0px;
    width: 100%;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.hid {
    display: none;
}

.top-mar {
    margin-top: 15px;
}

.h-100 {
    height: 100%;
}

::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important;
}

.container-fluid {
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    color: #FFF;
}

strong {
    font-family: "Open Sans", sans-serif;
}



.session-title {
    padding: 30px;
    margin: 0px;
    margin-bottom: 20px;
}

    .session-title h2 {
        width: 100%;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
    }

    .session-title p {
        max-width: 850px;
        text-align: center;
        float: none;
        margin: auto;
        font-size: .83rem;
        margin-top: 15px;
    }

    .session-title span {
        float: right;
        font-style: italic;
    }

.inner-title {
    padding: 20px;
    padding-left: 0px;
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccccccc4;
    display: block;
    padding-right: 0px;
}

    .inner-title h2 {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        border-bottom: 1px solid #863dd9;
        padding-bottom: 10px;
        margin-bottom: 0px;
        width: 300px;
    }

    .inner-title p {
        width: 100%;
        text-align: center;
    }

    .inner-title .btn {
        float: right;
        margin-top: -38px;
        font-weight: 600;
        font-size: .8rem;
    }

.page-nav {
    background-size: 100%;
    padding: 68px;
    text-align: center;
    background-color: #eaeaea;
}

    .page-nav ul {
        float: none;
        margin: auto;
    }

@media screen and (max-width: 992px) {
    .page-nav {
        background-size: auto;
    }
}

@media screen and (max-width: 767px) {
    .page-nav {
        padding-top: 100px;
    }
}

@media screen and (max-width: 356px) {
    .page-nav {
        padding-top: 200px;
    }
}

.page-nav h2 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
    color: #444;
}

@media screen and (max-width: 600px) {
    .page-nav h2 {
        font-size: 26px;
    }
}

.page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-size: .93rem;
    font-weight: 600;
    color: #444;
}

    .page-nav ul li i {
        width: 30px;
        text-align: center;
        color: #444;
    }

    .page-nav ul li a {
        color: #444;
        font-size: .93rem;
        font-weight: 600;
    }

.btn-success {
    background-color: #51be78;
    border-color: #51be78;
}

    .btn-success:hover {
        background-color: #51be78 !important;
        border-color: #51be78 !important;
    }

    .btn-success:active {
        background-color: #51be78 !important;
        border-color: #51be78 !important;
    }

    .btn-success:focus {
        background-color: #51be78 !important;
        border-color: #51be78 !important;
        box-shadow: none !important;
    }

.btn-primary {
    background-color: #01b3a7;
    border-color: #01b3a7;
}

    .btn-primary:hover {
        background-color: #01b3a7 !important;
        border-color: #01b3a7 !important;
    }

    .btn-primary:active {
        background-color: #01b3a7 !important;
        border-color: #01b3a7 !important;
    }

    .btn-primary:focus {
        background-color: #01b3a7 !important;
        border-color: #01b3a7 !important;
        box-shadow: none !important;
    }

.btn {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.form-control:focus {
    box-shadow: none !important;
    border: 0px;
}

.btn-light {
    background-color: #FFF;
    color: #3F3F3F;
}

.collapse.show {
    display: block !important;
}

.form-control:focus {
    box-shadow: none;
    border: 0px;
}

.form-control {
    background-color: #F8F8F8;
    margin-bottom: 20px;
}

    .form-control:focus {
        background-color: #FFF;
        border-color: #CCC;
    }

.container {
    max-width: 1170px;
}

@media screen and (max-width: 575px) {
    .container {
        padding: 10px 15px;
    }
}
*/

/*===================================== Login Page Design CSS ==================================== */

/*
.mud-input.mud-input-outlined .mud-input-outlined-border {
    border-width: 0px !important;
}



 ===================================== Responsive Style CSS ==================================== 
@media screen and (max-width: 991px) {
    .we-are-making .text-part {
        text-align: center;
    }

        .we-are-making .text-part .count .count-sing {
            margin-bottom: 20px;
        }

    .headwe-nav .container {
        padding: 10px;
    }

    header .headwe-nav .nav-div .navbar-nav .nav-item .nav-link {
        padding: 10px;
        border-right: 0px;
    }
}

# sourceMappingURL=style.css.map 


.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}


.mud-input.mud-input-outlined .mud-input-outlined-border {
    border-width: 0px !important;
}

.mud-input-label-outlined {
    background-color: none;
}*/
